<div class="form-floating w-75">
  <input class="form-control" type="<%= type %>" name="<%= name %>" id="<%= name %>Floating" placeholder="<%= name %>" value="<%= value %>" >
  <label class="text-capitalize" for="<%= name %>Floating"> <%= name %> </label>
</div>