<div class="form-floating w-75">
  <input class="form-control" type="<%= type %>" name="<%= name %>" id="<%= id %>" placeholder="<%= placeholder %>" value="<%= value %>" >
  <label class="" for="<%= id %>"> <%= placeholder %> </label>
</div>